@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    <p>Thank you for choosing our hospital for your healthcare needs.</p>
    <p>Here,We strive to provide the highest quality medical care to our patient.</p>
    <p>Learn more about our services and specialties</p>

    <table class="table table-hover">


        <tbody>
            <tr>
                <th>Internal Medicine</th>
            </tr>
            <tr>
                <th>Pediatrics</th>
            <tr>
                <th>Surgery</th>
            </tr>

        </tbody>
    </table>
    <p>If you have any question or need assistance.Please don't hesitate to contact us.</p>

</div>

